@page "/CurriculoSamuel"
<PageTitle>Curriculo</PageTitle>
<div class="container">
    <h3 style="text-align: center">Curriculo</h3>

    <div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px;">
        <img src="perfilCurriculo.jfif" alt="Foto minha" style="max-width: 150px; border-radius: 100px;" />
        <div>
            <p <i class="fa-solid fa-signature"></i> Nome: Samuel Felipe</p>
            <p <i class="fa-solid fa-city"></i> Cidade: Ji-Paraná - Ro</p>
            <p <i class="fa-solid fa-envelope"> </i> samuelsangallifonseca@gmail.com</p>
            <p <i class="fa-solid fa-phone"></i> (69) 99967-7971</p>
        </div>
    </div>



    <div style="text-align: left">
        <h3 <i class="fa-solid fa-graduation-cap"></i> Formação</h3>
        <ul>
            <li>Curso Técnico em Informática - Instituto Federal de Rondônia (IFRO)</li>
        </ul>
    </div>

    <hr style="margin: 30px ;" />

    <div style="text-align: left">
        <h3 <i class="fa-solid fa-lightbulb"></i> Experiência</h3>
        <ul>
            <li>Estagiário na Prefeitura de Alto Paraíso, atuando com suporte técnico, atendimento ao usuário e organização de dados.</li>
        </ul>
    </div>

    <hr style="margin: 30px;" />

    <div style="text-align: left;">
        <h3 <i class="fa-solid fa-suitcase"></i> Habilidades</h3>
        <ul>
            <li> Desenvolvimento Web (HTML, CSS, JavaScript)</li>
            <li> Linguagens de Programação (C# e Python)</li>
            <li> Banco de Dados (MySQL)</li>
            <li> Redes de Computadores</li>
            <li> Suporte Técnico</li>
        </ul>
    </div>

</div>
