@page "/CurriculoNink"
<h3>Curriculo Nink</h3>

<div style="display: flex; align-items: center;">  
    <img src="Pelé do JICS.jpeg" alt="GOAT" width="200 px"/> 

    <div>
        <h1>FELIPE BARBOSA NINK </h1>
        <h5>Técnico em informática </h5>
        <h5>17 Anos </h5>

    </div>
    

</div>

@code {

}
