@page "/CurriculoNink"
<h3>Curriculo Nink</h3>

<div style="display: flex; align-items: center;">  
    <img src="Pelé do JICS.jpeg" alt="GOAT" width="200px"/> 

    <div>
        <h1>FELIPE BARBOSA NINK </h1>
        <h5>Estudante</h5>
        <h5>17 Anos </h5>
    </div>

</div>

<div style="margin-top: 30px">

    <h4>OBJETIVOS <i class="fa-solid fa-arrow-right"></i></h4>
    <h7>Atuar na área da informática buscando desenvolvimento profissional e pessoal</h7>

   

    <hr />
    <h4>CONTATOS <i class="fa-solid fa-comment"></i> </h4>
    <h7><i class="fa-solid fa-phone"></i> (69)9 9214-4861   <i class="fa-solid fa-envelope"></i>     felipenink@gmail.com</h7>
   
    <hr />
    <h4>FORMAÇÃO <i class="fa-solid fa-graduation-cap"></i> </h4>
    <ul>
        <li>Ensino Fundamental Completo</li>
        <li>Estudante do Curso técnico de informática do IFRO</li>

    </ul>

    <hr />
    <h4>EXPERIÊNCIAS <i class="fa-solid fa-clipboard"></i> </h4>
    <ul>
        <li>Servente de pedreiro</li>
        <li>Projeto de pesquisa na área da tecnologia </li>
        <li>Barman </li>
        <li>Fabricante de Vela </li>
        <li>Chapa </li>

    </ul>

    <hr />
    <h4>HABILIDADES <i class="fa-solid fa-lightbulb"></i> </h4>
    <ul>
        <li>Trabalho em equipe </li>
        <li>Ambição</li>
        <li>Organização</li>
        <li>Boa comunicação </li>

    </ul>

    <hr />
    <h4>COMPETÊNCIAS <i class="fa-solid fa-lightbulb"></i> </h4>
    <ul>
        <li>Inglês Intermediário </li>
        <li>Espanhol Intermediário</li>
        <li>Linguagens de Programação: C# Intermediário e JavaScript Básico</li>
        <li>Linguagens de marcação e estilização: HTML Básico e CSS Básico</li>

    </ul>







</div>

@code {

}
