@page "/CurriculoLucas"

<PageTitle>Currículo</PageTitle>

<div style="display: flex; align-items: center;">
    <img src="fotinha.eu.png" alt="Alternate Text" style="max-width: 150px; border-radius: 100px; margin-right: 20px;" />
    <div>
        <h1>Lucas Oliveira Nascimento</h1>
        <h5>Técnico em informática</h5>
        <h5>17 Anos</h5>
    </div>
</div>


<div style="margin-top: 20px">
    <h4>
        <i class="fa-solid fa-phone"></i> CONTATO
    </h4>

    <ul>
        <li>FONE: (69) 99941-1271</li>
        <li>E-MAIL: lucasolivveira297@gmail.com</li>
    </ul>

    <hr />

    <h4> <i class="fa-solid fa-graduation-cap"></i> FORMAÇÃO</h4>
    <ul>
        <li>Curso técnico em informática</li>
        <li>Experiência de Pivô por 2 anos</li>
    </ul>

    <hr />

    <h4><i class="fa-solid fa-lightbulb"></i> HABILIDADES</h4>
    <ul>
        <li>Boa comunicação</li>
        <li>Trabalho em equipe</li>
        <li>Resolução de problemas e pensamento crítico</li>
        <li>Idioma: Inglês e Espanhol intermediários</li>
        <li>Experiência geral com pacote office</li>
        <li>Linguagem de programação: C# e JavaScript</li>
        <li>Linguagem de Marcação e estilização: HTML e CSS</li>
    </ul>

    <hr />

    <h4><i class="fa-solid fa-briefcase"></i> EXPERIÊNCIA</h4>
    <ul>
        <li>1 ano de trabalho com vendas</li>
        <li>Mais de 5 anos com experiência de atendimento ao cliente</li>
        <li>1 ano de estágio na área da Tecnologia da informação</li>
        <li>Conclusão de projeto na área da Tecnologia da informação</li>
    </ul>

    <hr />

    <h4><i class="fa-solid fa-bullseye"></i> OBJETIVOS</h4>
    <h6 style="display: flex; text-align: justify;">

            Estou em busca de vagas na área da TI,
            com o objetivo de desenvolver minhas habilidades e contribuir para o crescimento da empresa
    </h6>

</div>
