@page "/"

<PageTitle>Home</PageTitle>

<div style="display: flex; align-items: center; gap: 20px; margin-bottom: 20px; margin-left: 100px">
	<img src="Isso ai.jpeg" alt="Foto" style="margin-top: 10px ;max-width: 300px; border-radius: 20px;" />
	<h1 style="margin-left: 100px">Sobre o grupo</h1>
</div>

<p>Nós somos três colegas estudantes do Instituto Federal de Rôndonia campus Ji-Paraná.
	Atualmente estamos no terceiro ano estudando o curso de infórmatica.</p>



